extends layout

block content
  .content
    nav
      button#previous
        i.fa.fa-arrow-left
      button#next
        i.fa.fa-arrow-right
    .card
      .front
        p
      .back
        p

    p#output





