extends layout

block content
  .content
    .card
      .front
        p
      .back
        p
    nav
      button#random
        i.fa.fa-random
      button#next
        i.fa.fa-arrow-up
    p.meta





