extends layout

block content
  .content
    .flip
      .card
        .front
          p front
        .back
          p back
    nav
      button#random
        i.fa.fa-random
    p.meta
      [ #[span.meta-content] ]
