doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title P4NC3
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      i.fa.fa-heartbeat
      span  P4NC3
      span.version  version 0.0.1 (alpha)
    main
      block content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/taffy.js')
    script(src='/javascripts/main.js')