@import 'normalize.css';
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Coming+Soon");
body {
  background: #d6ebff;
  color: #444;
}
header {
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
  padding: 0.5em;
}
header .version {
  font-size: 11px;
}
main {
  font-family: Open Sans, sans-serif;
  padding: 0.5em;
}
.content {
  margin: 0 auto;
  max-width: 450px;
}
nav button {
  background: #fff;
  border: none;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
  height: 50px;
  margin-top: 0.5em;
}
nav button:active {
  background: #eee;
}
nav button {
  width: 100%;
}
.meta {
  font-size: 11px;
  text-align: center;
  text-transform: lowercase;
}
.front,
.back {
  background: #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
  font-size: 1.5em;
}
.front p,
.back p {
  font-family: Coming Soon;
  margin: 0;
  padding: 0.75em;
  text-align: center;
}
.flip {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.flip.hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip,
.front,
.back {
  height: 300px;
  width: 100%;
}
.card {
  cursor: pointer;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
}
.front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
