@import 'normalize.css'
@import url(http://fonts.googleapis.com/css?family=Open\+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Coming\+Soon);
@import 'nib'

black = #444
shadow = #bbb

body
  background #d6ebff
  color black

header
  background white
  box-shadow 0px 1px 2px shadow
  padding 0.5em
  .version
    font-size 11px

main
  font-family Open Sans, sans-serif
  padding 0.5em

.content
  margin 0 auto
  max-width 450px

nav
  button
    background white
    border none
    border-radius 0.5em
    box-shadow 0px 1px 2px shadow
    height 50px
    margin-top: 0.5em
  button:active
    background #eee
  button
    width 100%

.meta
  font-size 11px
  text-align center
  text-transform lowercase

.front, .back
  background white
  border-radius 0.5em
  box-shadow 0px 1px 2px shadow
  font-size 1.5em
  p
    font-family Coming Soon
    margin 0
    padding 0.75em
    text-align center

.flip
  perspective 1000
.flip.hover .card
  transform rotateY(180deg)
.flip, .front, .back
  height 300px
  width 100%
.card
  cursor pointer
  position relative
  transform-style preserve-3d
  transition 0.6s
.front, .back
  backface-visibility hidden
  left 0
  position absolute
  top 0
.front
  transform rotateY(0deg)
  z-index 2
.back
  transform rotateY(180deg)
