@import 'normalize.css';
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Coming+Soon");
html,
body {
  height: 100%;
}
body {
  background: #d6ebff;
  color: #444;
}
header {
  background: #fff;
  padding: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
}
header .version {
  font-size: 11px;
}
main {
  font-family: Open Sans, sans-serif;
  padding: 0.5em;
}
.content {
  margin: 0 auto;
}
nav button,
.options button {
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: #fff;
  border: none;
  height: 50px;
  margin-top: 0.5em;
}
nav button:active,
.options button:active {
  background: #eee;
}
nav button {
  width: 100%;
}
.options {
  text-align: center;
}
.options button {
  color: #ccc;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}
.options button + button {
  margin-left: 0.5em;
}
.options button i {
  margin-right: 1em;
}
.options button .fa-times {
  color: #ccc;
}
.options button .fa-check {
  color: #0c6;
}
.options button.check {
  color: #333;
}
.meta {
  font-size: 11px;
  text-transform: lowercase;
  text-align: center;
}
.front,
.back {
  font-size: 1.5em;
  background: #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
}
.front p,
.back p {
  padding: 0.75em;
  margin: 0;
  text-align: center;
  font-family: Coming Soon;
}
.flip {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.flip.hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip,
.front,
.back {
  width: 100%;
  height: 300px;
}
.card {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.fa.fa-bars {
  float: right;
  cursor: pointer;
}
.settings-menu {
  display: none;
}
