@import 'normalize.css';
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
html,
body {
  height: 100%;
}
body {
  background: #d6ebff;
  color: #444;
}
header {
  background: #fff;
  padding: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
}
header .version {
  font-size: 11px;
}
main {
  font-family: Open Sans, sans-serif;
  padding: 0.5em;
}
.content {
  max-width: 400px;
  margin: 0 auto;
}
nav {
  width: 100%;
  margin-top: 0.5em;
  position: relative;
  bottom: 0;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
}
nav button {
  background: #fff;
  border: none;
  width: 100%;
  width: 50%;
  height: 50px;
}
nav button:active {
  background: #eee;
}
nav #next {
  border-left: 1px solid #ddd;
}
.meta {
  font-size: 11px;
  text-transform: lowercase;
  text-align: center;
}
.card {
  position: relative;
  height: 300px;
  cursor: pointer;
}
.front,
.back {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  transition: transform 0.3s;
  background: #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 2px #bbb;
  box-shadow: 0px 1px 2px #bbb;
}
.front p,
.back p {
  padding: 0.75em;
  margin: 0;
  text-align: center;
}
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card.flip .front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.card.flip .back {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -o-transform: rotateY(0);
  -ms-transform: rotateY(0);
  transform: rotateY(0);
}
